<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div >
      <form action="/" method="post" enctype="multipart/form-data">
        <h1>upload image</h1>
         image1: <input type="file" name="image1"> <br>
         image2: <input type="file" name="image2"> <br>
         <input type="submit" name="upload_image" value="upload image">
      </form>
      <div>
         <img src="" alt="swapped image">
      </div>
    </div>
  </body>
</html>
